html, body {
  position: relative;
  margin: 0;
  padding: 0; }

scrapper * {
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
  line-height: normal; }
scrapper .app-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, sans-serif !important;
  color: #444;
  width: 1170px;
  margin: 0 auto;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf; }
scrapper p, scrapper h1, scrapper h2, scrapper h3, scrapper h4, scrapper h5, scrapper h6 {
  margin: 0; }
scrapper small {
  font-size: smaller; }
scrapper .login-form p {
  margin: 12px 0; }
  scrapper .login-form p:last-child {
    text-align: right; }
scrapper .login-form input {
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  padding: 2px 4px; }
  scrapper .login-form input:focus {
    border-color: #f70; }
scrapper .login-form .login-error {
  font-size: 11px;
  color: red; }
scrapper .app-title-row {
  overflow: auto; }
scrapper .app-title {
  float: left;
  padding: 0 5px;
  height: 36px;
  line-height: 36px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase; }
  scrapper .app-title.title-filters-column {
    width: 180px; }
  scrapper .app-title.title-articles-column {
    width: 380px; }
  scrapper .app-title.title-preview-column {
    width: calc(100% - 180px - 380px); }
  scrapper .app-title.title-wp-column {
    width: 100%; }
scrapper .app-row {
  height: 500px;
  position: relative;
  border-bottom: 1px solid #dfdfdf; }
scrapper .app-column {
  position: relative;
  float: left;
  height: 100%;
  border-right: 1px solid #dfdfdf;
  overflow: auto; }
scrapper .empty-column {
  height: 100%;
  width: 100%;
  display: table; }
  scrapper .empty-column div {
    display: table-cell;
    text-align: center;
    color: #777;
    vertical-align: middle; }
scrapper .filters-column {
  width: 180px; }
scrapper .filters-column-group {
  padding: 0 0 20px; }
scrapper .filters-column-group-title {
  text-transform: uppercase;
  background-color: #777;
  color: #fff;
  font-weight: bold;
  padding: 6px 5px;
  margin-bottom: 3px; }
scrapper .filter-item {
  cursor: pointer;
  padding: 3px 5px; }
  scrapper .filter-item:hover {
    background-color: #fff1e6;
    color: #f70; }
  scrapper .filter-item.selected {
    background-color: #f70;
    color: #fff; }
scrapper .filters-config-button {
  float: right;
  cursor: pointer;
  margin-top: 2px; }
  scrapper .filters-config-button:hover {
    text-decoration: underline; }
scrapper .filters-config-p {
  margin: 2px 0; }
  scrapper .filters-config-p input[type=checkbox] {
    vertical-align: top;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-top: 0px; }
scrapper .filters-column-filter {
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  height: 26px;
  margin-bottom: 6px; }
  scrapper .filters-column-filter input {
    border: none;
    outline: none;
    margin: 0;
    padding: 2px 4px;
    width: 100%;
    height: 100%;
    color: #777; }
scrapper .articles-column {
  width: 380px; }
scrapper .article-short {
  cursor: pointer;
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #dfdfdf;
  min-height: 100px;
  overflow: auto; }
  scrapper .article-short .article-short-image {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  scrapper .article-short .article-short-data {
    margin-left: 100px; }
  scrapper .article-short .article-short-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 2px; }
  scrapper .article-short .article-short-summary {
    font-size: 12px;
    margin-bottom: 8px; }
  scrapper .article-short .article-short-meta {
    font-size: 11px;
    text-transform: uppercase; }
  scrapper .article-short:hover {
    background-color: #fff1e6; }
    scrapper .article-short:hover .article-short-title {
      color: #f70; }
  scrapper .article-short.selected {
    background-color: #f70;
    color: #fff; }
    scrapper .article-short.selected .article-short-title {
      color: #fff; }
scrapper .preview-column {
  padding: 10px;
  width: calc(100% - 180px - 380px);
  border-right: none; }
  scrapper .preview-column .m-bot {
    margin-bottom: 15px; }
  scrapper .preview-column .preview-column-meta {
    font-size: 11px;
    text-transform: uppercase;
    color: #777;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px; }
    scrapper .preview-column .preview-column-meta a, scrapper .preview-column .preview-column-meta a:visited {
      text-decortion: underline;
      color: #777; }
    scrapper .preview-column .preview-column-meta a:hover {
      color: #f70; }
  scrapper .preview-column .preview-column-title {
    font-size: 18px;
    font-weight: bold; }
  scrapper .preview-column .preview-column-content {
    text-align: justify; }
    scrapper .preview-column .preview-column-content img {
      max-width: 100%; }
    scrapper .preview-column .preview-column-content p {
      margin: 10px 0; }
scrapper .wp-column {
  float: none;
  border-right: none; }
  scrapper .wp-column .wp-items {
    width: 180px;
    float: left;
    height: 100%;
    border-right: 1px solid #dfdfdf; }
  scrapper .wp-column .wp-item {
    cursor: pointer;
    padding: 3px 5px; }
    scrapper .wp-column .wp-item:hover {
      background-color: #fff1e6;
      color: #f70; }
    scrapper .wp-column .wp-item.selected {
      background-color: #f70;
      color: #fff; }
  scrapper .wp-column .wp-posts {
    width: calc(100% - 180px);
    float: left;
    height: 100%; }
    scrapper .wp-column .wp-posts .wp-posts-toolbar {
      padding: 0 5px;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #dfdfdf; }
    scrapper .wp-column .wp-posts .wp-posts-all {
      height: calc(100% - 30px);
      overflow: auto; }
      scrapper .wp-column .wp-posts .wp-posts-all .wp-posts-post {
        padding: 3px 5px;
        border-bottom: 1px dashed #dfdfdf; }
        scrapper .wp-column .wp-posts .wp-posts-all .wp-posts-post a, scrapper .wp-column .wp-posts .wp-posts-all .wp-posts-post a:visited, scrapper .wp-column .wp-posts .wp-posts-all .wp-posts-post a:active {
          color: #777;
          text-decoration: none; }
        scrapper .wp-column .wp-posts .wp-posts-all .wp-posts-post a:hover {
          color: #f70;
          text-decoration: underline; }
      scrapper .wp-column .wp-posts .wp-posts-all .wp-posts-getting {
        color: #777;
        padding: 3px 5px; }
scrapper .wp-config-p {
  margin: 8px 0; }
  scrapper .wp-config-p input {
    outline: none;
    width: 200px;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 2px 4px;
    margin: 0 6px; }
    scrapper .wp-config-p input:focus {
      border-color: #f70; }
  scrapper .wp-config-p .wp-config-x {
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px; }
    scrapper .wp-config-p .wp-config-x:hover {
      color: red; }
  scrapper .wp-config-p .wp-config-inp-name {
    width: 150px; }
  scrapper .wp-config-p .wp-config-inp-url {
    width: 300px; }
  scrapper .wp-config-p .wp-config-inp-type {
    width: 100px; }
  scrapper .wp-config-p .wp-config-inp-token {
    width: 250px; }
scrapper .confirmation-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }
  scrapper .confirmation-dialog .dialog-wrapper {
    padding: 0 20px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); }
  scrapper .confirmation-dialog .dialog {
    position: relative;
    margin: 0 auto;
    background: white;
    box-shadow: 0 6px 40px #aaa;
    border-radius: 5px;
    overflow: hidden; }
    scrapper .confirmation-dialog .dialog .dialog-header {
      background-color: #777;
      padding: 12px 20px; }
    scrapper .confirmation-dialog .dialog .dialog-title {
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
    scrapper .confirmation-dialog .dialog .dialog-subtitle {
      color: #fff;
      font-size: 13px;
      padding-top: 2px; }
    scrapper .confirmation-dialog .dialog .dialog-content {
      font-size: 14px;
      padding: 30px 20px;
      word-wrap: break-word;
      max-height: 300px;
      overflow: auto; }
      scrapper .confirmation-dialog .dialog .dialog-content.no-padding {
        padding: 0; }
    scrapper .confirmation-dialog .dialog .dialog-footer {
      padding: 15px 20px;
      border-top: 1px solid #dfdfdf;
      text-align: right; }
    scrapper .confirmation-dialog .dialog .dialog-x {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 10px;
      color: #fff;
      font-size: 20px; }
    scrapper .confirmation-dialog .dialog.dialog-in {
      animation-name: dialog-in;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-duration: 0.4s; }
    scrapper .confirmation-dialog .dialog.error .dialog-header {
      background-color: red; }
@keyframes dialog-in {
  0% {
    opacity: 0;
    margin-top: -30px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
