@{
    var IsAuth = (bool)ViewData["IsAuth"];
}

@if(IsAuth)
{
<div class="app-column filters-column" sn-filters>
    <div class="filters-column-group">
        <div class="filters-column-group-title">Publishers</div>
        <div class="filter-item" ng-repeat="filter in snFilters.publishers" ng-class="{ selected: filter.selected }" ng-click="snFilters.changePublisher(filter, $event)">
            <span ng-bind=":: filter.name"></span> (<small ng-bind=":: filter.hits"></small>)
        </div>
    </div>
    <div class="filters-column-group">
        <div class="filters-column-group-title">Categories</div>
        <div class="filter-item" ng-repeat="filter in snFilters.categories" ng-class="{ selected: filter.selected }" ng-click="snFilters.changeCategory(filter, $event)" ng-hide="snFilters.isCategoryDisabled(filter)">
            <span ng-bind=":: filter.name"></span> (<small ng-bind="snFilters.getHitsForCategory(filter)"></small>)
        </div>
    </div>
</div>

<div class="app-column articles-column" sn-articles>
    <div class="article-short" ng-repeat="article in snArticles.articles" ng-click="snArticles.selectArticle(article)"  ng-class="{ selected: article.selected }">
        <div class="article-short-image" style="background-image: url({{:: article.image_rss_original_url || article.image_original_url}})"></div>
        <div class="article-short-data">
            <p class="article-short-title" ng-bind=":: article.title"></p>
            <p class="article-short-summary" ng-bind=":: article.summary"></p>
            <p class="article-short-meta"><b ng-bind=":: article.publisher"></b> | <b ng-bind=":: article.category"></b> | <span sn-timeago="{{::snArticles.timestampToISO(article.timestamp)}}" data-refresh></span></p>
        </div>
    </div>
    <div class="empty-column" ng-hide="snArticles.articles.length > 0">
        <div>No articles for selected filters</div>
    </div>
</div>

<div class="app-column preview-column" sn-preview>
    <div class="preview-column-wrap" ng-hide="snPreview.article === null">
        <div class="preview-column-meta m-bot">
            <a href="{{snPreview.article.original_url}}" target="_blank"><b>source</b></a> | <b ng-bind="snPreview.article.publisher"></b> | <b ng-bind="snPreview.article.category"></b> | <b ng-bind="snPreview.timestampToReadable(snPreview.article.timestamp)"></b>
        </div>
        <div class="preview-column-title m-bot" ng-bind="snPreview.article.title"></div>
        <div class="preview-column-content m-bot" id="_content">
            <p><b ng-bind="snPreview.article.summary"></b></p>
            <p><img ng-src="{{snPreview.article.image_original_url || snPreview.article.image_rss_original_url || ''}}" alt="" /></p>
            <p ng-bind-html="snPreview.article.contentHtml"></p>
        </div>
    </div>
    <div class="empty-column" ng-hide="snPreview.article !== null">
        <div>Select an article to see preview</div>
    </div>
</div>

<div class="app-column right-column">
    <div sn-wp-post>
        <p ng-repeat="wp in snWpPost.wps">
            <span ng-bind=":: wp.wp_name"></span> <button ng-click="snWpPost.post(wp)" ng-disabled="snWpPost.article === null">post</button>
        </p>
    </div>
</div>


<script src="~/scripts/app/dbq.js"></script>  
<script src="~/scripts/app/app.js"></script>  
<script src="~/scripts/app/server/server-service.js"></script>
<script src="~/scripts/app/events/log-service.js"></script>
<script src="~/scripts/app/events/events-service.js"></script>
<script src="~/scripts/app/filters/filters-directive.js"></script>
<script src="~/scripts/app/article/articles-directive.js"></script>
<script src="~/scripts/app/article/article-preview-directive.js"></script>
<script src="~/scripts/app/article/timeago-directive.js"></script>
<script src="~/scripts/app/wordpress/wordpress-directive.js"></script>
}
else
{
    <p><h3>login</h3></p>
    <p><input id="user" type="text" placeholder="user"/></p>
    <p><input id="pass" type="password" placeholder="pass"/></p>
    <p><button id="go">go</button></p>
    <script>
        $('#go').click(login);
        $('#user,#pass').keyup(function (e) {
            if (e.which === 13) login();
        });
        
        function login(){
            $.ajax({
                type: 'POST',
                url: 'api/authenticate',
                data: {
                    user: $('#user').val().trim(),
                    pass: $('#pass').val().trim()
                },
                success: function (response) {
                    if (response.error) {
                        console.error(response.message);
                        return;
                    }
                    location.reload(true);
                }
            });
        }
    </script>
}