<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="~/style/style.css" rel="stylesheet" type="text/css">

    <script src="~/scripts/lib/lodash.min.js"></script>
    <script src="~/scripts/lib/jquery.min.js"></script>
    <script src="~/scripts/lib/angular.min.js"></script>
    <script src="~/scripts/lib/angular-animate.min.js"></script>
    <script src="~/scripts/lib/restangular.min.js"></script>
</head>
<body ng-app="app">
    <div class="app-wrapper">
        @RenderBody()
    </div>
    
    <script src="~/scripts/app/dbq.js"></script>  
    <script src="~/scripts/app/app.js"></script>  
    <script src="~/scripts/app/server/server-service.js"></script>
    <script src="~/scripts/app/events/log-service.js"></script>
    <script src="~/scripts/app/events/events-service.js"></script>
    <script src="~/scripts/app/filters/filters-directive.js"></script>
    <script src="~/scripts/app/article/articles-directive.js"></script>
    <script src="~/scripts/app/article/article-preview-directive.js"></script>
    <script src="~/scripts/app/wordpress/wordpress-directive.js"></script>
</body>
</html>
