$fontFamily: "Ubuntu", Arial, sans-serif !important;
$colorFont1: #444;
$colorFont2: #777;
$colorFontInvert1: #fff;

$color1: #f70;
$color2: #777;
$colorBgItemsHover1: lighten($color1, 45%);
$colorBorder: #dfdfdf;

$widthFilters: 180px;
$widthArticlesShort: 380px;
$widthArticlePreview: 500px;


* {
    box-sizing: border-box;
}

html, body, .app-wrapper {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: $fontFamily;
    color: $colorFont1;    
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.app-column {
    position: relative;
    float: left;
    height: 100%;
    border-right: 1px solid $colorBorder;
    overflow: auto;
}
.empty-column {
    height: 100%;
    width: 100%;
    display: table;
    
    div{
        display: table-cell;
        text-align: center;
        color: $color2;
        vertical-align: middle;
    }    
}

.filters-column {
    width: $widthFilters;
}
.filters-column-group {
    padding: 0 0 20px;
}
.filters-column-group-title {
    text-transform: uppercase;
    background-color: $color2;
    color: $colorFontInvert1;
    font-weight: bold;
    padding: 6px 5px;
    margin-bottom: 3px;
}
.filter-item {
    cursor: pointer;
    padding: 3px 5px;

    &:hover {
        background-color: $colorBgItemsHover1;
        color: $color1;
    }

    &.selected {
        background-color: $color1;
        color: $colorFontInvert1;
    }
}

.articles-column {
    width: $widthArticlesShort;
}

.article-short {
    cursor: pointer;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid $colorBorder;
    min-height: 100px;
    overflow: auto;

    .article-short-image {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 90px;
        height: 90px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .article-short-data {
        margin-left: 100px;
    }
    .article-short-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 2px;
    }
    .article-short-summary {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .article-short-meta {
        font-size: 11px;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $colorBgItemsHover1;

        .article-short-title {
            color: $color1;            
        }
    }

    &.selected {
        background-color: $color1;
        color: $colorFontInvert1;
        
        .article-short-title {
            color: $colorFontInvert1;            
        }
    }
}


.preview-column {
    padding: 10px;
    width: $widthArticlePreview;

    .m-bot {
        margin-bottom: 15px;
    }

    .preview-column-meta {
        font-size: 11px;
        text-transform: uppercase;
        color: $colorFont2;
        border-bottom: 1px solid $colorBorder;
        padding-bottom: 10px;

        a, a:visited {
            text-decortion: underline;
            color: $colorFont2;
        }
        a:hover {
            color: $color1;
        }
    }

    .preview-column-title {
        font-size: 18px;
        font-weight: bold;
    }

    .preview-column-content {
        text-align: justify;

        img {
            max-width: 100%;
        }


        p {
            margin: 10px 0;
        }
    }
}

.right-column {
    padding: 10px;
    width: calc(100% - #{$widthFilters} - #{$widthArticlesShort} - #{$widthArticlePreview});
}
